<h1>Add Address for <%= current_user.name%>: </h1>
<%= form_for @address do |f|%>
  <%= f.label :line1, "Line 1"%><br>
  <%= f.text_field :line1%><br>
  <%= f.label :line2, "Line 2"%><br>
  <%= f.text_field :line2%><br>
  <%= f.label :city%><br>
  <%= f.text_field :city%><br>
  <%= f.label :state%><br>
  <%= f.text_field :state%><br>
  <%= f.label :country%><br>
  <%= f.text_field :country%><br>
  <%= f.label :phone%><br>
  <%= f.text_field :phone%><br>
  <%= f.label :postalCode, "Postal Code"%><br>
  <%= f.text_field :postalCode%><br>
  <%= f.submit %>
<%end%>