<div class="columns">
  <div class="column is-one-third">
    <h1 class="title is-3"><%= @product.name %></h1>
    <h1 class="subtitle is-italic"><%= @product.catagory.name %> | $<%= @product.price %> CAD</h1>
    <%= image_tag @product.image%>
  </div>

  <div class="column">
    <p><%= @product.description %></p>
  </div>

</div>
