<!DOCTYPE html>
<html>
  <head>
    <title>RetroX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">

        <nav class="navbar" role="navigation" aria-label="main navigaion">
          <div class="navbar-brand">
            <a href="/">
              <h1 class="title is-2">OHG</h1>
            </a>
          </div>

          <div class="navbar-menu">
            <a href="/products" class="navbar-item">
              Products
            </a>
          </div>
        </nav>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
