<!DOCTYPE html>
<html>
  <head>
    <title>RetroX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">

        <nav class="navbar mb-5" role="navigation" aria-label="main navigaion" style="border-bottom: 1px solid grey">
          <div class="navbar-brand">
            <a href="/">
              <h1 class="title is-2">OHG</h1>
            </a>
          </div>

          <div class="navbar-menu">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="/products">
                Games
              </a>

              <div class="navbar-dropdown">
                <a href="/products"  class="navbar-item">
                  All Games
                </a>
                <%Catagory.all.each do |cat|%>
                  <a class=navbar-item href="/catagories/<%= cat.id %>">
                    <%= cat.name %> Games
                  </a>
                <%end%>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%if !logged_in?%>
                  <a class="button is-primary" href="<%= new_user_path %>">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-light" href="<%= new_session_path %>">
                    Log in
                  </a>
                <%else%>
                  <a class="button is-success" href="<%=root_url%>users/<%= current_user.id %>">
                    <%= current_user.name %>
                  </a>

                  <a class="button is-danger" href="/logout">
                    Log out
                  </a>
                <%end%>
              </div>
            </div>
          </div>

        </nav>

        <%= yield %>
      </div>
    </section>
    <script>
      var dropdown = document.querySelector('.navbar-dropdown');
      dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
      });
    </script>

  </body>
</html>
